body{
    margin: 0;
    display: flex;

}
* {
    box-sizing: border-box;
}
.box{
    width: 1540px;
    height: 218px;
    background-color: red;
    margin-top: -30px;
}

.text{
    color: white;
}   

.p{
    margin-left: 94px;
}

.Line {
    height: 1px;
    width: 400px;
    border: grey;
    background-color: lightgray;
}
.div1{
    display: flex;
}

.text1{
    display: flex;
    margin-left: 98px;
}
.box1{
    width: 250px;
    height: 130px;
    background-color: #284D57;
    border-radius: 10px;
    margin-left: 94px;
   
}
.box2{
    width: 250px;
    height: 130px;
    background-color: #EEECE3;
    border-radius: 10px;
    margin-left: 65px;
   
}

.box3{
    width: 250px;
    height: 130px;
    background-color:#ddbda2;
    border: 1px solid #ddbda2;
    border-radius: 10px;
    margin-left: 65px;
   
}

.box4{
    width: 250px;
    height: 130px;
    background-color:white;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-left: 65px;
   
}

.box5{
    width:240px;
    height: 88px;
    background-color: #F9FAFB;
    border-radius: 1px solid  #F9FAFB;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 94px;
}
.box6{
    width:240px;
    height: 88px;
    background-color: lightgray;
    border-radius: 1px solid lightgrey;
}

.box7{
        width:240px;
        height: 88px;
        background-color: #E5E6EB;
        border-radius: 1px solid #E5E6EB;
}

.box8{
    width:240px;
    height: 88px;
    background-color: #D3D5DA;
    border-radius: 1px solid #D3D5DA;
}

.box9{
    width:240px;
    height: 88px;
    background-color: #9EA3AE;
    border-radius: 1px solid #9EA3AE;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.box10{
    width:240px;
    height: 88px;
    background-color: #6C727F;
    border-radius: 1px solid #6C727F;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 94px;
}
.box11{
    width:240px;
    height: 88px;
    background-color: #4D5461;
    border-radius: 1px solid #4D5461;
}

.box12{
        width:240px;
        height: 88px;
        background-color: #394150;
        border-radius: 1px solid #394150;
}

.box13{
    width:240px;
    height: 88px;
    background-color: #212936;
    border-radius: 1px solid #212936;
}

.box14{
    width:240px;
    height: 88px;
    background-color: #0B0A0F;
    border-radius: 1px solid #0B0A0F;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}



